crypto-news-agent.json
{
  "name": "Crypto Daily Sentiment & News Impact Digest (Email)",
  "nodes": [
    {
      "parameters": {
        "rule": "everyDay",
        "hour": [7],
        "timezone": "Asia/Kolkata"
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "url": "https://cryptopanic.com/api/v1/posts/?filter=important",
        "responseFormat": "json"
      },
      "id": "2",
      "name": "Fetch Crypto News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://api-inference.huggingface.co/models/cardiffnlp/twitter-roberta-base-sentiment-latest",
        "responseFormat": "json",
        "headerParametersJson": "{\"Authorization\":\"Bearer YOUR_HUGGINGFACE_TOKEN\"}",
        "jsonParameters": true,
        "bodyParametersJson": "{\"inputs\":\"{{ $json[\"title\"] || 'Bitcoin price drops after CPI data release'}}\"}"
      },
      "id": "3",
      "name": "Analyze Sentiment (HuggingFace)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "functionCode": "const news = $json;\nconst sentimentData = items[0].json[0];\n\nlet sentimentScore = 0;\nif (sentimentData.label === 'positive') sentimentScore = 0.8;\nelse if (sentimentData.label === 'neutral') sentimentScore = 0.5;\nelse sentimentScore = 0.2;\n\nlet impactProb = 0;\nif (news.title.includes('CPI') || news.title.includes('FOMC')) impactProb = sentimentScore * 0.9;\nelse if (news.title.includes('Jobless') || news.title.includes('GDP')) impactProb = sentimentScore * 0.7;\nelse impactProb = sentimentScore * 0.4;\n\nreturn [{\n  title: news.title,\n  source: news.source_title,\n  sentiment: sentimentData.label,\n  score: sentimentScore,\n  predictedImpact: Math.min(impactProb, 1).toFixed(2)\n}];"
      },
      "id": "4",
      "name": "Predict Market Impact",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_EMAIL@gmail.com",
        "toEmail": "YOUR_EMAIL@gmail.com",
        "subject": "📊 Daily Crypto Sentiment & News Digest",
        "text": "📰 Headline: {{$json[\"title\"]}}\n🧠 Sentiment: {{$json[\"sentiment\"]}} ({{$json[\"score\"]}})\n🎯 Impact Probability: {{$json[\"predictedImpact\"]}}\n\n— Auto-generated by n8n"
      },
      "id": "5",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1150, 200],
      "credentials": {
        "smtp": "Your SMTP Credentials"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Crypto News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto News": {
      "main": [
        [
          {
            "node": "Analyze Sentiment (HuggingFace)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment (HuggingFace)": {
      "main": [
        [
          {
            "node": "Predict Market Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Predict Market Impact": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
